<h1>  <%= Time.now.strftime("%H:%M") %>
      <%= I18n.l(Date.today, format: '%A, %d de %B de %Y') %>
</h1>


<br>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <%= link_to "basics", basics_path %>
    <%= link_to "ruby", ruby_path %>
    <%= link_to "git", git_path %>
  </ul>
</nav>
</br>
<p>Fin de pagina </p>
